/// Fonts ///
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

//Family
$font-prim: 'Inter', sans-serif;
$font-sec: 'Roboto', serif;

//Weight
$regular: 400;
$bold: 500;
$black: 700;
